<div align='center'>
<%=flash[:error]%>
</div>

<head>
  <%= stylesheet_link_tag 'main' %>
</head>

<div align='center'>
<div class='menu_bar'>
    <%=link_to "#{image_tag 'logo.jpg', :valign => 'middle'}" , "/index", :border => '0px'%> 
</div>

<div id="navbar">
<span class="inbar">
<ul>
<li <%="class='navhome'" if controller.controller_name == 'index'%>><a href="<%#=index_path%>"><span>Home</span></a></li>
<li <%="class='navhome'" if controller.controller_name == 'logs'%>><a href="<%=logs_path%>"><span>Logs</span></a></li>
<li <%="class='navhome'" if controller.controller_name == 'about'%>><a href="<%#=about_path%>"><span>About Ash Hill</span></a></li>
<li <%="class='navhome'" if controller.controller_name == 'contact'%>><a href="<%#=contacts_path%>"><span>Contact</span></a></li>
</ul>
</span>
<span align='right' class='cite' style='display:block;'><%=current_user == :false ? link_to('Login?', '/login') : link_to("Welcome #{current_user.login}, Logout?", '/logout')%></span>
</div>

</div>

<br /><br /><br />

<table align='center'>
  <tr>
  <td class='sidebar' valign='top'>
   <br /><br /><br /><br />
  </td>
  <td>
    <%@logs.each do |log|%>
      <div>
        <div><%=image_tag 'user_pic.jpg', :style => 'float:left;margin-right:10px;border:1px black solid;'%>
        <a href='/logs/<%=log.id%>' class='title'><%=log.title%></a><%=link_to "#{image_tag 'edit.jpg', :width => '15px', :height => '15px', :style=> 'margin: 0px 5px 0px 5px;'}", "/logs/edit/#{log.id}" if current_user.id == 1%><%=link_to "#{image_tag 'trash.jpg', :width => '15px', :height => '15px'}", "/logs/destroy/#{log.id}", :confirm => 'Make it so?' if current_user.id == 1%>
        <p><%=link_to "#{image_tag 'read_on.jpg'}", "/logs/#{log.id}"%> Read On</p>
        </div>
        <span class='cite'>Posted by <%=(User.find_by_id(log.user_id)).login%> <%=distance_of_time_in_words_to_now(log.created_at)%> ago</span>
        <p><%=truncate(sanitize(log.body), :length => 350)%></p>
        
      </div>
    <%end%>
  </td>
  </tr>
</table>
